.resume-box{
    width: 60%;
    height: 80%;
    display: flex;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
}
.resume-left{
    flex: 1;
    background-color: #2a9ef5;
    text-align: center;
    float: left;
}
.resume-left h1{
    color: white;
    font-weight: 100;
    font-size: 55px;
}
button {
    width: 30%;
    height: 5%;
    font-size: 100%;
}
.resume-left p{
    color: white;
    font-weight: 100;
    font-size: 25px;
    display: block;
}
.resume-right{
    flex: 2;
    background-color: white;
    overflow: auto;
    float: left;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: blue;
}